---
import GitHubIcon from "../Icons/GitHubIcon.astro";
import { PROYECTS } from "../constans/proyects";
---
{
PROYECTS.map(({ image, title, description, tags, link, github }) => (

<article class="grid md:grid-cols-2 gap-10 mb-20 items-center group">

    
    <div class="overflow-hidden rounded-xl border border-gray-800">
        <img
            src={image.src}
            alt={title}
            loading="lazy"
            class="w-full h-64 md:h-72 object-cover object-top transition duration-500 md:group-hover:scale-105"
        />
    </div>

  
    <div>

        <h3 class="text-2xl font-bold text-blue-300 mb-3">
            {title}
        </h3>

        <!-- Tags -->
        <ul class="flex flex-wrap gap-2 mb-4">
            {tags.map((tag) => (
                <li>
                    <span class="flex items-center gap-2 text-xs bg-white/10 border border-white/10 px-3 py-1 rounded-full">
                        <tag.icon class="size-4" />
                        {tag.name}
                    </span>
                </li>
            ))}
        </ul>


        <p class="text-gray-400 text-sm leading-relaxed max-w-prose">
            {description}
        </p>

 
        <footer class="flex gap-4 mt-6">

            {github && (
                <a
                    href={github}
                    target="_blank"
                    class="flex items-center gap-2 bg-gray-800 border border-gray-700 px-4 py-2 rounded-lg hover:bg-gray-700 transition"
                >
                    <GitHubIcon class="size-4" />
                    Código
                </a>
            )}

            {link && (
                <a
                    href={link}
                    target="_blank"
                    class="flex items-center gap-2 bg-gray-800 border border-gray-700 px-4 py-2 rounded-lg hover:bg-gray-700 transition"
                >
                    <svg
                        class="size-4"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                        stroke-width="2"
                    >
                        <path stroke-linecap="round" stroke-linejoin="round" d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71" />
                        <path stroke-linecap="round" stroke-linejoin="round" d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71" />
                    </svg>
                    Visitar
                </a>
            )}

        </footer>

    </div>

</article>

))
}

